<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bb.css">
</head>
<body>
    <div class="main">
        <div class="bubble">
            <div style="--i:37;"></div>
            <div style="--i:98;"></div>
            <div style="--i:76;"></div>
            <div style="--i:24;"></div>
            <div style="--i:14;"></div>
            <div style="--i:23;"></div>
            <div style="--i:18;"></div>
            <div style="--i:98;"></div>
            <div style="--i:34;"></div>
            <div style="--i:87;"></div>
            <div style="--i:22;"></div>
            <div style="--i:29;"></div>
            <div style="--i:89;"></div>
            <div style="--i:21;"></div>
            <div style="--i:15;"></div>
            <div style="--i:99;"></div>
            <div style="--i:26;"></div>
            <div style="--i:17;"></div>
            <div style="--i:80;"></div>
            <div style="--i:28;"></div>
            <div style="--i:31;"></div>
            <div style="--i:72;"></div>
            <div style="--i:33;"></div>
            <div style="--i:34;"></div>
            <div style="--i:11;"></div>
            <div style="--i:12;"></div>
            <div style="--i:82;"></div>
            <div style="--i:24;"></div>
            <div style="--i:95;"></div>
            <div style="--i:23;"></div>
            <div style="--i:18;"></div>
            <div style="--i:93;"></div>
            <div style="--i:98;"></div>
            <div style="--i:22;"></div>
            <div style="--i:87;"></div>
            <div style="--i:27;"></div>
            <div style="--i:24;"></div>
            <div style="--i:29;"></div>
            <div style="--i:73;"></div>
            <div style="--i:89;"></div>
            <div style="--i:22;"></div>
            <div style="--i:27;"></div>
            <div style="--i:25;"></div>
            <div style="--i:92;"></div>
            <div style="--i:23;"></div>
            <div style="--i:28;"></div>
            <div style="--i:31;"></div>
            <div style="--i:72;"></div>
            <div style="--i:33;"></div>
            <div style="--i:34;"></div>
            <div style="--i:11;"></div>
        </div>
        <div class="pubble">
            <div style="--i:30;"></div>
            <div style="--i:98;"></div>
            <div style="--i:22;"></div>
            <div style="--i:87;"></div>
            <div style="--i:27;"></div>
            <div style="--i:24;"></div>
            <div style="--i:29;"></div>
            <div style="--i:73;"></div>
            <div style="--i:89;"></div>
            <div style="--i:22;"></div>
            <div style="--i:27;"></div>
            <div style="--i:25;"></div>
            <div style="--i:98;"></div>
            <div style="--i:22;"></div>
            <div style="--i:87;"></div>
            <div style="--i:27;"></div>
            <div style="--i:24;"></div>
            <div style="--i:29;"></div>
            <div style="--i:73;"></div>
            <div style="--i:89;"></div>
            <div style="--i:22;"></div>
            <div style="--i:27;"></div>
            <div style="--i:25;"></div>
            <div style="--i:92;"></div>
            <div style="--i:23;"></div>
            <div style="--i:28;"></div>
            <div style="--i:31;"></div>
            <div style="--i:72;"></div>
            <div style="--i:33;"></div>
            <div style="--i:34;"></div>
            <div style="--i:11;"></div>
            <div style="--i:92;"></div>
            <div style="--i:23;"></div>
            <div style="--i:28;"></div>
            <div style="--i:31;"></div>
            <div style="--i:72;"></div>
            <div style="--i:33;"></div>
            <div style="--i:34;"></div>
            <div style="--i:11;"></div>
            <div style="--i:12;"></div>
            <div style="--i:82;"></div>
            <div style="--i:24;"></div>
            <div style="--i:95;"></div>
            <div style="--i:23;"></div>
            <div style="--i:18;"></div>
        </div>
    </div>
</body>
</html>